<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Professeur</title>
    <!-- Ajouter les liens vers Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <form action="#" th:action="@{/addstudent}" th:object="${student}" method="post"enctype="multipart/form-data">
        <div class="form-group">
            <label for="userName">userName</label>
            <input type="text" class="form-control" th:field="*{username}" id="username" placeholder="username">
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="text" class="form-control" th:field="*{password}" id="password" placeholder="password">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>
        <div class="form-group">
            <label for="firstName">firstName</label>
            <input type="text" class="form-control" th:field="*{firstName}" id="firstName" placeholder="firstName">
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
        </div>
        <div class="form-group">
            <label for="lastName">lastName</label>
            <input type="text" class="form-control" th:field="*{lastName}" id="lastName" placeholder="lastName">
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
        </div>
        <div class="form-group">
            <label for="number">number</label>
            <input type="text" class="form-control" th:field="*{number}" id="number" placeholder="number">
            <span th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></span>
        </div>
        <div class="form-group">
            <label for="studentGrp">groupe:</label>
            <select class="form-control" id="studentGrp" name="studentGrp.id" th:field="*{studentGrp}" required>
                <option th:each="groupe : ${groupes}" th:value="${groupe.id}" th:text="${groupe.code}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="file">Changer l'image:</label>
            <input type="file" class="form-control-file" id="file" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Ajouter eleve</button>
    </form>
</div>

<!-- Ajouter le lien vers Bootstrap JavaScript (si nécessaire) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
