<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Détails du Groupe</title>
    <!-- Ajouter le lien vers le fichier CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <div class="card p-4">
            <h1 class="mb-4 text-primary">Détails du Groupe</h1>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Code du Groupe:</strong> <span th:text="${group.code}"></span></p>
                    <p><strong>Année:</strong> <span th:text="${group.year}"></span></p>
                    
                </div>
            </div>

            <h2 class="mt-4 text-primary">PW associés</h2>
            <ul class="list-group">
                <li class="list-group-item" th:each="pw : ${pwList}">
                    <div>
                        <p><strong>Titre du PW:</strong> <span th:text="${pw.title}"></span></p>
                        <p><strong>Objectif:</strong> <span th:text="${pw.objectif}"></span></p>
                    </div>
                </li>
            </ul>
            <h2 class="mt-4 text-primary">Les etudiants appartenant au groupe</h2>
            <ul class="list-group">
                <li class="list-group-item" th:each="student : ${group.grpStdnt}">
                    <div>
                        <p><strong>Nom:</strong> <span th:text="${student.lastName}"></span></p>
                        <p><strong>Prénom:</strong> <span th:text="${student.firstName}"></span></p>
                    </div>
                </li>
            </ul>
            
            
        </div>
    </div>

    <!-- Ajouter le lien vers le fichier JavaScript de Bootstrap (facultatif, mais souvent nécessaire) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
