<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Liste des Dents</title>
  <!-- Ajouter le lien vers Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Ajoute un peu d'espace autour du tableau */
    table {
      margin-top: 20px;
    }
  </style>
</head>
<body class="text-center">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Votre Site</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
                <a class="nav-link" href="/signup2">Etudiant </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tooth/signup">Dent <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signuppw">PW</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signupgroupe">Groupe</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
  <div th:switch="${tooths}">
    <h2 th:case="null">Aucune !</h2>
    <div th:case="*">
      <h2>dents</h2>
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th>nom</th>
           <th>Modifier</th>
           <th>Supprimer</th>
          
          
        </tr>
        </thead>
        <tbody>
        <tr th:each="tooth : ${tooths}">
          <td th:text="${tooth.name}"></td>
          
          <td><a class="btn btn-primary btn-sm" th:href="@{/tooth/edit/{id}(id=${tooth.id})}">Modifier</a></td>
          <td><a class="btn btn-danger btn-sm" th:href="@{/tooth/delete/{id}(id=${tooth.id})}">Supprimer</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <p>
      <a class="btn btn-success" href="/tooth/addtooth">Ajouter une nouvelle dent</a>
    </p>
    <p>
      <a class="btn btn-primary btn-sm" th:href="@{/}">Back</a>
    </p>
  </div>
</div>

<!-- Ajouter le lien vers Bootstrap JavaScript (si nécessaire) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
