<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Register</title>
</head>

<body>

    <div class="container mt-4">
        <!--<form class="w-50" th:action="@{/signup}" method="post" th:object="${user}">-->
        <form action="#" th:action="@{/signup}" th:object="${user}" method="post">
            <div class="alert alert-danger" th:if="${error}" th:text="${error}" role="alert"></div>
            <h1>Register Now</h1>
            <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
            <div class="mb-3">
                <label for="fname" class="form-label">First Name</label>
                <input type="text" name="firstName" class="form-control" id="fname" th:field="*{firstName}">
            </div>
            <div class="mb-3">
                <label for="lname" class="form-label">Last Name</label>
                <input type="text" name="lastName" class="form-control" id="lname" th:field="*{lastName}">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" th:field="*{email}">
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username" th:field="*{username}">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" th:field="*{password}">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


    <!--<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->
</body>

</html>