<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifier un Dent</title>
    <!-- Ajouter le lien vers Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Ajoute un peu d'espace autour du formulaire */
        form {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/tooth/update/{id}(id=${tooth.id})}" th:object="${tooth}" method="post">
        <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="name">
        </div>
        <button type="submit" class="btn btn-primary">Mettre à Jour Tooth</button>
    </form>
</div>

<!-- Ajouter le lien vers Bootstrap JavaScript (si nécessaire) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
